<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
      integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
  </head>

  <body>
    <div style="padding:1em;" id="root">
      <input v-model="inputField" type="text" />
      <button v-on:click="showInput">Add</button>
      <ul>
        <li v-for="item in items">{{ item }}</li>
      </ul>
    </div>

    <script src="src/index.js"></script>
  </body>
</html>
